// Colors
$white: hsl(0, 0%, 100%);
$darkBlue: hsl(233, 26%, 24%);
$lighterBlue: hsl(235, 66%, 30%);
$grayBlue: hsl(233, 8%, 62%);
$lightGray: hsl(0, 0%, 98%);
$purple: hsl(282, 44%, 47%);
$heroGrayish: hsl(220, 6%, 90%);
$featureGray: hsl(220, 16%, 96%);

// Font Size
$sm-font: 0.875rem; // 14px
$med-font: 1.125rem; // 18px
$l-font: 1.25rem; // 20px
$xl-font: 3.25rem; // 52px
